<section
  class="relative rounded-sm z-[99999] pt-24 sm:pt-0 before:absolute before:w-full before:h-full before:bg-[#f6b846] before:top-[-17px] before:left-[-17px] before:opacity-[.1] before:rounded-sm before:-z-10"
>
  <div
    class="hero-sec-content relatives overflow-hidden bg-[#222222] flex flex-col gap-2"
  >
    <div class="hero-images">
      <img src="/images/bg-3.jpg" alt="" class="w-full h-[310px] rounded-sm" />
    </div>
    <div class="hero-sec-info relative">
      <div
        class="about-img absolute top-[-130px] left-1/2 translate-x-[-50%] z-50 before:absolute before:left-[-12px] before:top-[10px] before:w-[140px] before:h-[140px] before:bg-[#f6b846] before:opacity-[.3] before:rounded-full before:-z-10"
      >
        <img
          src="/images/Untitled (12).png"
          class="w-[140px] h-[140px] rounded-full"
          alt=""
        />
      </div>
      <div class="hero-body pt-[30px] pb-10">
        <div class="about-caption text-center">
          <h1 class="text-3xl font-bold text-white mb-2">Mohamed El-Barbary</h1>
          <ngx-typed-js
            [strings]="['Programmer', 'Front-End Developer', 'Freelancer']"
            [loop]="true"
            [shuffle]="false"
            [smartBackspace]="true"
            [typeSpeed]="100"
            [backSpeed]="50"
            [backDelay]="2000"
            [fadeOut]="false"
          >
            <span class="typing"></span>
          </ngx-typed-js>
        </div>
        <ul class="social flex gap-5 justify-center my-4">
          <li
            class="hover:text-[#f6b846] cursor-pointer transition-all duration-300"
          >
            <a
              rel="noopener"
              target="_blank"
              href="https://www.linkedin.com/in/mohamed-el-barbary-007126267?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            >
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
          <li
            class="hover:text-[#f6b846] cursor-pointer transition-all duration-300"
          >
            <a
              rel="noopener"
              target="_blank"
              href="https://github.com/Mohamed-El-Barbary"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </li>
          <li
            class="hover:text-[#f6b846] cursor-pointer transition-all duration-300"
          >
            <a rel="noopener" target="_blank" href="https://wa.link/1ed23o">
              <i class="fa-brands fa-whatsapp"></i>
            </a>
          </li>
          <li
            class="hover:text-[#f6b846] cursor-pointer transition-all duration-300"
          >
            <a
              rel="noopener"
              target="_blank"
              href="https://stackoverflow.com/users/29758990/mohamed-el-brabary?tab=topactivity"
            >
              <i class="fa-brands fa-stack-overflow"></i>
            </a>
          </li>
        </ul>
      </div>
      <div
        class="hero-footer flex gap-5 text-sm uppercase border-t-1 border-[#333333] h-[70px]"
      >
        <div
          class="download group relative flex gap-10 justify-center border-e-1 border-[#333333] w-full font-semibold hover:text-[#f6b846] cursor-pointer"
        >
          <a
            rel="noopener"
            target="_blank"
            href="https://drive.google.com/file/d/1v0LRLTkivAoCbGsd6ixa_nb2b-ts8ZvU/view?usp=sharing"
            class="flex items-center gap-2"
            >Download cv
            <i
              class="fa-solid fa-cloud-arrow-down relative transition-all duration-300 group-hover:-translate-y-1"
            ></i
          ></a>
        </div>
        <div
          class="contact group relative flex gap-10 justify-center w-full font-semibold hover:text-[#f6b846] cursor-pointer"
        >
          <a href="mailto:mohamedelbarbary511@gmail.com" class="flex items-center gap-2">
            Hire Me
            <i
              class="fa-solid fa-paper-plane relative transition-all duration-300 group-hover:-translate-y-1"
            ></i>
          </a>
        </div>
      </div>
      <div
        class="absolute -top-16 w-[105%] left-1/2 -translate-x-1/2 h-[100px] bg-[#222222] rounded-[100%_100%_0_0]"
      ></div>
    </div>
  </div>
</section>
