<section class="about-me bg-[#222222] py-2">
  <div class="custom-scroll-panel">
    <div class="about-content pt-[30px]">
      <app-main-title [title]="'about me'"></app-main-title>
      <div class="info py-[30px] ps-[40px] pe-[20px]">
        <h2 class="text-white opacity-50 font-semibold mb-2">
          Hello! I’m Mohamed El-Barbary.
        </h2>
        <p class="text-white opacity-50 mb-4">
          Front-End Developer with rich experience in Angular, crafting
          responsive, user-friendly interfaces. Currently learning .NET to
          become a full-stack developer.
        </p>
        <div class="pb-[30px]">
          <ul
            class="info-list text-white opacity-90 uppercase flex flex-wrap gap-4"
          >
            <li class="w-[45%] text-sm font-medium">
              Freelance . . . .
              <span class="text-base opacity-50 font-normal capitalize"
                >Available</span
              >
            </li>
            <li class="w-1/2 text-sm font-medium">
              Residence . . . .
              <span class="text-base opacity-50 font-normal capitalize"
                >Egypt</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="services-content">
      <app-main-title [title]="'my services'"> </app-main-title>
      <div
        class="services-list grid grid-cols-1 lg:grid-cols-2 gap-[30px] px-[40px]"
      >
        <div class="services py-[30px]">
          <div
            class="icon w-[65px] h-[65px] border text-[#f6b846] text-4xl border-[#f6b846] rounded-full flex items-center justify-center mb-4"
          >
            <i class="fa-brands fa-html5"></i>
          </div>
          <div class="caption border-e-1 border-b-1 border-[#333333] pe-2">
            <h3 class="text-[17px] font-semibold opacity-[.85] mb-2">
              Front-end
            </h3>
            <p class="text-white opacity-50 mb-4">
              Crafting modern, mobile-friendly websites that amplify your
              marketing impact.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
