<section class="portfolio max-w-7xl mx-auto px-4 py-12">
  <div
    class="portfolio-content relative grid grid-cols-1 sm:grid-cols-[70px_1fr] gap-2 items-center"
  >
    <div class="slider">
      <app-slider></app-slider>
    </div>
    <div class="main-content grid grid-cols-1  lg:grid-cols-[475px_1fr] gap-2 items-center">
      <div class="hero-section">
        <app-hero-section></app-hero-section>
      </div>
      <div class="content relative lg:-left-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
