:host ::ng-deep .card {
  width: 0;
}

:host ::ng-deep p-card {
  width: 300px;
  display: block;
  position: relative;
  transform: translateY(-6px);
}

@media screen and (max-width: 600px) {
  :host ::ng-deep p-card {
    width: 250px;
    transform: translateY(0px);
  }
  
}

:host ::ng-deep .p-card-body {
  background-color: #222222 !important;
  color: white !important;
  padding: 0px 5px 30px 0px !important;
}

:host ::ng-deep .p-card {
  box-shadow: unset !important;
}

:host ::ng-deep .p-card-title {
  width: fit-content !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px !important;
  font-weight: 400 !important;
  color: #f6b846 !important;
  padding: 2px 4px !important;
  border: 1px solid #f6b846 !important;
  border-radius: 5px !important;
}

:host ::ng-deep .p-progressbar-value {
  background-color: #F6B846 !important;
}
:host ::ng-deep .p-progressbar {
  background-color: #3e4148 !important;
  height: 15px !important;
}

:host ::ng-deep .p-progressbar-label {
  color: #3e4148 !important;
}